
body {
    background-color: white;
    text-align:center;
    font-size:18px;
       }
.gridview{background-color:white; 
          color:black; 
          margin-left:auto; 
          margin-right:auto;
          border:2px solid white;}

.gridview th{background-color:gray; color:orange}

.detailview{background-color:white; 
            color:black; 
            margin-left:auto; 
            margin-right:auto;
            border:2px solid white;}



h1{font-family:italic; font-weight:bold; font-size:32px;
    height: 36px;
    width: 632px;
}

h3{font-family:italic; font-weight:bold; font-size:24px;}

#date {background-color:#D8D8D8;

       color:#21610B;font-family:italic; font-weight:bold; font-size:24px;

       margin:0 auto;
}


#container {background-color:#D8D8D8;

            padding:20px;

            margin:0 auto;

            border:1px solid black;

            width:900px;

}

#header {background-color:black;

         color:white;

         padding:10px;

         margin:0 auto;

         width:642px;

         height:150px;

         float:left;

         border-top:1px solid black;

          border-left:1px solid black;

          border-bottom:1px solid black;

          text-align:center;

}

#right_header {background-color:white;

               padding:10px;

               margin:0 auto;

               height:150px;

               float:left;

                border-top:1px solid black;

          border-right:1px solid black;

          border-bottom:1px solid black;

    width: 215px;

}

#main {background-color:white;

       color:black;

       padding:10px;

       margin:0 auto;
}

#footer {background-color:#FE2E2E;

         color:white;

         text-align:center;

}


#menu { width:898px;

      float:left;

      margin:0 0 3em 0;

      padding:0;

      list-style:none;

      background-color:#F4FA58;

      border:3px solid black;
}

#menu li {float:left;}




#menu li a {display:block;

           padding:8px 15px;

           text-decoration:none;

           font-weight:bold;

           color:white;

           border-right:1px solid #ccc;
}




#menu li a:hover{
    color:#c00; 
    background-color:white; }​




