
body {
    background-color: white;
    text-align:center;
    font-size:18px;
       }

h1 {font-style:italic; font-weight:bold; font-size:36px;}
h2 {font-style:italic; font-weight:bold; font-size:22px;}
h3 {font-style:italic; font-weight:bold; font-size:22px;}

#header{background-color:black;
        color:white;
        
        
   
        border-top:1px solid red;
        border-bottom:1px solid orange;
        border-left:2px solid red;
        text-align:center; 
        }

#footer{background-color:black;
        color:white;
        font-size:10pt; 
        text-align:center; 
        line-height:12pt; 
        padding-top:30pt;
        }

#login{background-color:white;
    margin-left:auto; 
          margin-right:auto;

}

#menu{background-color:lightblue;
      margin-right:320px;
      margin-left:320px;
        color:red;

}


.gridview{background-color:white; 
          color:black; 
          margin-left:auto; 
          margin-right:auto;
          border:2px solid white;}

.gridview th{background-color:gray; color:orange}

.detailview{background-color:white; 
            color:black; 
            margin-left:auto; 
            margin-right:auto;
            border:2px solid white;}
